!!  Fonts
xterm.VT100.renderFont: true
xterm.VT100.faceName: Dejavu Sans Mono
xterm.VT100.faceSize: 12
 
xterm*geometry:   87x28
 
!!  Colors  !!
 
!!  Dunzor
!xterm*background: #000000
!xterm*foreground: #AAAAAA
 
!!  Zenburn
xterm*background: #3F3F3F
xterm*foreground: #FFFFFF
 
!!Darkburn
!xterm*background: #1A1817
!xterm*foreground: #B5927D
 
!!  Display utf8 symbols
xterm*utf8: 1
xterm*locale: true
 
!! Color Settings
 
!black
*color0:     #000000
*color8:     #404040
!red
*color1:     #AF5F5F
*color9:     #FF5F8F
!green
*color2:     #7F9F7F
*color10:    #87D787
!yellow
*color3:     #B3B784
*color11:    #CAE682
!blue
*color4:     #9393CC
*color12:    #93A2CC
!magenta
*color5:     #93A2CC
*color13:    #A893CC
!cyan
*color6:     #87AFD7
*color14:    #53DCCD
!white
*color7:     #AAAAAA
*color15:    #FFFFFF
 
!!  URxvt Settings  !!
 
! Urxvt settings
URxvt.depth: 32
 
!Dunzor
!URxvt.background: [85] #000000
!URxvt.foreground: #AAAAAA
 
!Zenburn
URxvt.background: [85]#000000
URxvt.foreground: #FFFFFF
 
URxvt.scrollBar: false
URxvt.imLocale: pt_en_US.utf8
 
URxvt.perl-ext-common:      default,matcher
URxvt.url-select.launcher:  /usr/bin/luakit
URxvt.url-select.underline: true
URxvt.matcher.button:       1
 
URxvt.font: xft:DejaVu Sans Mono:pixelsize=12:antialais=true:hinting=true
